*{
    box-sizing: border-box;
}

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    /* 这里使用flex是为了垂直居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 0 auto;
    /* height: 200px; */
}

.progress-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: 100%;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    /* 放在中心位置 */
    top: 50%;
    left: 0;
    /* 这不知道有什么作用 */
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: width 0.4s ease;
  }

.circle{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;


    background-color: #fff;
    border-radius:50%;
    border:solid 1px green;
}
